.__news-letter{
    background: url("../../../public/assets/images/subscribe.jpg");
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    width: 100%;
    min-height: 446px;
    // margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input::placeholder {
        color: var(--body-color);
        font-weight: 500;
        font-family: var(--primary-font);
    }
}
.__news-letter::after{
    position: absolute;
    content: "";
    inset: 0;
    background: #000000e3;
    z-index: 1;
}