.cvButton {
  position: relative;
  color: var(--color-black);
  background-color: var(--color-primary);
  border: none;
  padding: 20px 40px;
  font-weight: 500;
  max-width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.cvButton:hover {
  background-color: var(--black3);
  color: var(--color-white);
}

.cvButtonText {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.cvButtonIcon {
  transition: transform 0.3s ease;
}

/* Create a pseudo-element for additional animation */
.cvButton::before {
  content: "";
  display: block;
  position: absolute;
  width: 300%;
  height: 300%;
  top: -150%;
  left: -150%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transform: rotate(45deg);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}

.cvButton:hover::before {
  transform: rotate(45deg) translate(50%, 50%);
  opacity: 1;
}

/* Optional icon movement */
.cvButton:hover .cvButtonIcon {
  transform: translateX(5px);
}

/* Optional text movement */
.cvButton:hover .cvButtonText {
  transform: translateX(-5px);
}
