.__image-wrapper {
  position: relative;
}
.__image-wrapper::after {
  position: absolute;
  content: "";
  background: var(--color-primary);
  width: 95%;
  height: 80%;
  top: -20px;
  right: -20px;
  z-index: -1;
}


